{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "airbnb-base",
  "rules": {
    "no-invalid-this": 2,
    "no-console": 0,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}
