// NAVBAR
#main-bar {
  background: radial-gradient(circle at 0 0, $color1, #644073);

  .search-field {
    background-color: #503864;
    border-color: #a7a3ce;
    color: #a7a3ce;

    &:focus {
      &::-webkit-input-placeholder {
        text-indent: -999px
      }
      &::-moz-placeholder {
        text-indent: -999px
      }

      border-color: #ce93cd;
    }
  }
}

// CATALOG
#catalog-bar {
  background: $color4;
  border-bottom: 1px solid lighten($color1, 60%);

  .nav {
    margin-bottom: -1px;
  }

  .nav-link {
    color: $color1;
    padding-bottom: 8px;
    border-bottom: 1px solid lighten($color1, 60%);

    &:hover {
      color: lighten($color1, 20%);
      border-bottom: 1px solid lighten($color1, 40%);
    }

    &.active {
      border-bottom: 1px solid lighten($color1, 20%);
      color: lighten($color1, 20%);
    }
  }
}

#catalog-second-level {
  .nav-link {
    color: $color1;

    &:hover {
      background-color: $color3;
    }

    &.active {
      background-color: lighten($color1, 20%);
      color: lighten($color1, 70%);
    }
  }
}

#site-name {
  color: #cae40f;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.nav-link {
  outline: none;
  cursor: pointer;
}

// TABS
.nav-tabs {
  .active {
    font-weight: normal !important;
  }
}

#site-menu, #user-section {
  .nav-link {
    color: lighten($color1, 50%);

    &.active {
      color: lighten($color1, 70%);
    }
  }
}

footer {
  // background-color: lighten($color1, 60%);
  color: $color1;
}
