$color1: #1b2347;
$color2: #cae40f;
$color3: #efefef;

.nav-link.active {
  background: #fff8e2;
}

.card {
  margin-bottom: 1rem;
}

// Navbar
#main-menu {
  background: $color1;
}

#catalog-menu {
  background: $color3;
}

#site-name {
  color: #cae40f;
}
