$color1: #2b284a;
$color2: #cae40f;
$color3: #efefef;

.nav-link.active {
  background: #fff8e2;
}

.card {
  margin-bottom: 1rem;
}

// NAVBAR
#main-menu {
  background: $color1;
}

#catalog-menu {
  background: $color3;
}

#site-name {
  color: #cae40f;
}

.nav-link {
  outline: none;
  cursor: pointer;
}

// TABS
.nav-tabs {
  .active {
    font-weight: normal !important;
  }
}
