@import "./variables.scss";

@each $color, $value in $colors {
  .bc-#{$color} {
    background-color: $value;
  }
}

body {
  background-color: $color3;
}

img {
  max-width: 100%;
}

.card {
  margin-bottom: 1rem;
}

footer {
  background: radial-gradient(circle at 0 0, $color1, #644073);
  color: $color4;
}
