.svg-icon {
  &.cart {
    background: transparent center/100% url('icons/shopping-cart.svg') no-repeat;
  }
  &.hamburger {
    background: transparent center/100% url('icons/hamburger-menu.svg') no-repeat;
  }
}
